#content{
    position:relative;
    background-color:black;
    color:white;
    font-family:"Helvetica neue", sans-serif;
    width:100%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "header header header"
    "content content content"
    "footer footer footer"
    ;
}
p, a{
    font-size:18px;
}
header{
    width:100%;
    z-index:1;
    position:sticky;
    top:0;
    grid-area:header;
    height:75px;
    width:100%;
    background-color: rgba(0, 0, 0, 0.295);
}

nav{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

ul{
    list-style-type: none;
}

li{
    display:inline-block;
}
#header-logo{
    margin:20px;
}
#img-header{
    width:50px; 

}

a{
    text-decoration:none;
    color:white;
    padding:10px 30px;
}

a:hover{
    background-color:gray;
}

/**Main**/
main{
    grid-area:content;
}

#intro{
    background-image:url(../img/watch.jpg);
    height:650px;
    position: relative;
    color:white;
}
#intro h1{
    position:absolute;
    right:200px;
    top:100px;
    font-size: 50px;
    text-align:right;
}
#functions{
    min-height:400px;
    width:100%;
    background-color:white;
    color:black;
    text-align:center;
}
h2{
    padding:50px 0;
}
#functions-flex{
    display:flex;
    justify-content: space-evenly;
}

#functions-flex img{
    width:200px;
}



footer{
    grid-area:footer;
    display:flex;
    justify-content: space-around;
    align-content:center;
    background-color: paleturquoise;
}





@media screen and (max-width:768px){
    footer,
    #functions-flex{
        flex-direction:column;
        align-content:center;
    }
}